replicaCount: 1

image:
  repository: mongooseim/mongooseim
  pullPolicy: IfNotPresent
  tag: ""

nodeName: mongooseim
nodeCookie: mongooseim

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: chart-example.local
      paths: []
  tls: []

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 12
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

loadBalancerIP: ""
loadBalancerAnnotations: {}

nodeport:
  enabled: false

vmConfig: ""
mimConfig: ""

rolloutId: ""
tlsCertSecret: {}

volatileDatabase: "mnesia"
persistentDatabase: "mnesia"

rdbms:
  driver: "pgsql"
  host: "host.docker.internal"
  database: "mongooseim"
  username: "mongooseim"
  password: "mongooseim_secret"
  tls:
    required: "true"

certs:
  fullChain: "fake_cert.pem"
  privKey: "fake_key.pem"
  fullChainWithKey: "fake_server.pem"
